In [1]:
import pandas as pd
df = pd.read_csv('issue.csv')
df1 = df[['index','time','reply']]
df1.set_index(['time','index'], inplace=True)
df_reply = df1.unstack('time')
df_reply['차이'] = df_reply.xs('14:54', axis=1,level=1)-df_reply.xs('14:48', axis=1,level=1)

TypeError: parser_f() got an unexpected keyword argument 'index'

In [6]:
df

     date   time   index                               title  reply  views
0   01-08  14:48  136098       [네이버 페이] 클릭시 포인트 150원 적립 (추가)  26000   1006
1   01-08  14:48  136097         오늘 방영 후 반응 난리난 미스트롯 무대.....  67000    438
2   01-08  14:48  136096  마포합정에서 경기도 광주까지 16시간 걸려 퇴근한 남자.SWF  49000    713
3   01-08  14:48  136095            우리 입맛에 딱, 베트남 음식 베스트.jpg  28000    531
4   01-08  14:48  136094                      핫게보고 추천하는 궁중다과  38000   1818
..    ...    ...     ...                                 ...    ...    ...
69  01-08  14:54  136104  더쿠무명 기상캐스터 각지역 온도에 대해 알아보겠습니다❄.jpg  27000    448
70  01-08  14:54  136103            안 먹으면 후회한다는 역대급 스타벅스 신메뉴  47000    420
71  01-08  14:54  136102                 요즘 아이돌이 망해가는 이유.jpg  45000    539
72  01-08  14:54  136101                   은근히 보이는 비혼 이유.jpg  35000    358
73  01-08  14:54  136100                  저출생은 비상사태가 아니다.jpg  22000    255

[74 rows x 6 columns]

In [44]:
df2 = df[['index','title']]
df2.set_index(['index','title'],inplace=True)
df2.sort_index(level=0,inplace=True)
print(len(df2.index.unique()))
df2[:20]

74

C:\Users\YOON\anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: []
Index: [(136090, 한 승무원이 뽑은 최악의 진상), (136091, 컨셉 아이디어 대박인 유노윤호 앨범 포스터(feat.황정민)), (136092, 한 승무원이 뽑은 최악의 진상), (136092, 핫게보고 추천하는 궁중다과), (136093, 우리 입맛에 딱, 베트남 음식 베스트.jpg), (136093, 컨셉 아이디어 대박인 유노윤호 앨범 포스터(feat.황정민)), (136094, 마포합정에서 경기도 광주까지 16시간 걸려 퇴근한 남자.SWF), (136094, 핫게보고 추천하는 궁중다과), (136095, 오늘 방영 후 반응 난리난 미스트롯 무대.....), (136095, 우리 입맛에 딱, 베트남 음식 베스트.jpg), (136096, [네이버 페이] 클릭시 포인트 150원 적립 (추가)), (136096, 마포합정에서 경기도 광주까지 16시간 걸려 퇴근한 남자.SWF), (136097, 여자들한테 남자 손 취향은 2개로 갈린다함.............JPG), (136097, 오늘 방영 후 반응 난리난 미스트롯 무대.....), (136098, [네이버 페이] 클릭시 포인트 150원 적립 (추가)), (136098, 정말 원덬 혼자만 사랑했는지 궁금한 아이돌 유닛 2팀.jpg), (136100, 여자들한테 남자 손 취향은 2개로 갈린다함.............JPG), (136100, 저출생은 비상사태가 아니다.jpg), (136101, 은근히 보이는 비혼 이유.jpg), (136101, 정말 원덬 혼자만 사랑했는지 궁금한 아이돌 유닛 2팀.jpg)]

In [22]:
df1

              reply
time  index
14:48 136098  26000
      136097  67000
      136096  49000
      136095  28000
      136094  38000
...             ...
14:54 136104  27000
      136103  47000
      136102  45000
      136101  35000
      136100  22000

[74 rows x 1 columns]

In [33]:
df_reply

          reply                차이
time      14:48    14:54
index
136090      NaN  58000.0      NaN
136091      NaN  29000.0      NaN
136092  58000.0  38000.0 -20000.0
136093  29000.0  28000.0  -1000.0
136094  38000.0   5000.0 -33000.0
136095  28000.0  67000.0  39000.0
136096  49000.0  26000.0 -23000.0
136097  67000.0   5000.0 -62000.0
136098  26000.0  11000.0 -15000.0
136100   5000.0  22000.0  17000.0
136101  11000.0  35000.0  24000.0
136102  22000.0  45000.0  23000.0
136103  35000.0  47000.0  12000.0
136104  45000.0  27000.0 -18000.0
136105  47000.0  47000.0      0.0
136106  27000.0  49000.0  22000.0
136107  47000.0  39000.0  -8000.0
136108  49000.0  39000.0 -10000.0
136109  39000.0   5000.0 -34000.0
136110  39000.0  38000.0  -1000.0
136111   5000.0   3000.0  -2000.0
136112  38000.0   2000.0 -36000.0
136113   3000.0  38000.0  35000.0
136114   2000.0   1000.0  -1000.0
136115  38000.0  42000.0   4000.0
136116   9807.0  26000.0  16193.0
136117  42000.0  25000.0 -17000.0
136118  25000.0  26000.0   1000.0
136119  24000.0   4000.0 -20000.0
136120  26000.0  25000.0  -1000.0
136121  39000.0  24000.0 -15000.0
136122  25000.0  33000.0   8000.0
136123  24000.0  35000.0  11000.0
136124  32000.0  22000.0 -10000.0
136125  34000.0   9551.0 -24449.0
136126  21000.0  18000.0  -3000.0
136127   7472.0   3608.0  -3864.0
136128  16000.0   6527.0  -9473.0